.bd-placeholder-img {
    font-size          : 1.125rem;
    text-anchor        : middle;
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;     
    }

}

.b-example-divider {
    height          : 3rem;
    background-color: rgba(0, 0, 0, .1);
    border          : solid rgba(0, 0, 0, .15);
    border-width    : 1px 0;
    box-shadow      : inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width      : 1.5rem;
    height     : 100vh;
}

.bi {
    vertical-align: -.125em;
    fill          : currentColor;
}

.nav-scroller {
    position  : relative;
    z-index   : 2;
    height    : 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display                   : flex;
    flex-wrap                 : nowrap;
    padding-bottom            : 1rem;
    margin-top                : -1px;
    overflow-x                : auto;
    text-align                : center;
    white-space               : nowrap;
    -webkit-overflow-scrolling: touch;
}

.containers {
    padding: 250px 140px;

}

.card-img-top{
    object-fit: cover;
    width     : 100%;
    height    : 100%;
}

.main {
    margin-top: 4em;
}

.jumbotrontext-center {

    margin-top   : 8em;
    margin-bottom: 8em;
}

.results {

    display        : flex;
    align-items    : center;
    justify-content: center;
}

.result {
    border          : 1px solid none;
    background-color: #ffff;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 10px; 
}

.result img {
    object-fit: cover;
    width     : 100%;
    height    : 100%;
}

.random{
    color: white;

}

h1{
    align-items: center;
}

#dog_result{
    background-repeat: no-repeat;
    background-size: cover;
     width: 400px;
    height: 400px;
}